@model IEnumerable<UrnaWeb.Models.Candidate>

@{
    ViewData["Title"] = "Index";
}

<h2>Candidatos</h2>

<p>
    <a class="btn btn-default" asp-action="Create">Cadastrar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                Vice Presidente
            </th>
            <th>
                Número do candidato
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VicePresident)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.subtitle)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-default">Detalhes</a> |
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm  btn-danger">Deletar</a>

            </td>
        </tr>
}
    </tbody>
</table>
